extends layout
block content


  h1 About
  p.lead The Mine Cart 
  hr
  .row
    .col-sm-12
      h2 Vote The Mine Cart!
      p 
      |Our project is centered around making the bartering system light and fun. We didn't want to create another clunky Mines website that we are all to familiar 
      |with. We also did not want to cover the experience with a lot of eye-candy to make up for this either. Together we decided to focus on the interaction with the website.
      |Our solution is to create an interesting and fun way to "play" with each item you are interested in. 
      p
      ul 
       li Don't like one item? Click on it and throw it around on the screen!!
       li Want a closer look? Simply click and drag it to the center of the screen. 
       li Enjoy chaos? We've got you covered.
      
      |Log in and check our item listing page and take a look at our floating items. Try It! 
    .col-sm-12
     h2 Our Project
     p
     | To use our website you can create an account, or you can sign in via facebook or google. When signed in, you can view all avaliable offers in the
     | item listing area. To select an offer, click on it's name, navigate the item details page, and click the "Buy" button to purchase the item in question. To submit
     | an item for trade, click the "New Item" button on the home page, fill out all required information, and click the "List New Item" button to add it to the item listings page.
     | to view the item you just posted, just reload that web page. You can also view the profile of the lister by clicking on their name in the box.

    .col-sm-12
     h2 New Technology
     p.lead OAuth 2.0
     p
     | One of our new technologies is the use of OAuth 2.0. Essentially, OAuth 2.0 is a system in which you can sign into a certain application, say the Mine Cart,
     | using a different account, such as Facebook or Google. OAuth 2.0 is widly used because of it's secure method of passing information. Instead of sending passwords
     | or other infromation from one server to another, which could be intercepted and misused, it sends tokens instead. Thusly allowing the safe passing of information
     | between our app and you foreign account. 
     p
    
     p.lead SVG and D3
     p 
     | To create our floating boxes, we used a combination of SVG elements and D3. SVG, or scalable vector graphics, is used for the creation of the boxes on screen. SVG
     | essentially allows for the creation of shapes and colors that move accross the screen. We also wanted each box to be interacted with and need it to represent data,
     | as well as an actual instance of an item in our database. D3 is the tool that allows us to do this. D3 allows us to tether an items data to the box in individual
     | instances. This, for instance, allows us to directed you to a page with expanded details of the Item you selected. 

