extends layout
block content


  h1 About
  p.lead The Mine Cart 
  hr
  .row
    .col-sm-12
      h2 Vote Mine Cart!
      p Our project is centered around making the bartering system light and fun. Check our our home page and take a look at our floating items. You can click, drag, and throw them around.
      p We used SVG elements to create the boxes on the screen and used D^3 to bind the data we wanted displayed to the Boxes.

    .col-sm-12
