extends layout

block content
  script(src="/js/lib/jquery-3.1.1.min.js")
  script(src="/js/common.js")
  
  h1 Last 25 Items Listed
  div.container-fluid
    div.col-sm-1
      div.modal.fade(id='new-item')
        div.modal-dialog.modal-md
          div.modal-content
            div.modal-header
              h4.modal-title Create a new item listing
              div.modal-body
                form(action="/"+user.id+"/item", method="post", role="form")
                  p Item name
                  input(type="text", name="name")
                  p Category
                  select(name="category")
                    option Textbook
                    option Furniture
                    option Testing supplies
                  p Price
                  input(type="number", min="0", name="price")
                  p Description
                  input(type="text", name="description")
                  br
                  br
                  button.btn.btn-success.btn-md(type="submit", id="create_submit") List this item
              div.modal-footer
                button.btn.btn-danger(data-dismiss='modal') Cancel
      //the_button
      button.btn.btn-default(data-toggle='modal', data-target='#new-item') New item
    
    //div.col-sm-1
      //the_second_modal
      //p Organize recent listings:
      //form(action="", method="post", role="form")
        //select(name="category")
          //option Textbook
          //option Furniture
          //option Testing supplies
        //br
        //button.btn.btn-success.btn-md(type="submit") Organize

  //the_svg
  svg
