extends layout

block content
  script(src="/js/lib/jquery-3.1.1.min.js")
  script(src="/js/common.js")
  h1 #{title} Area
  p.lead This is where our common area is gonna be
  p #{items}
  script.
     items='#{items}';