extends layout
block content
  script(src="/js/lib/jquery-3.1.1.min.js")
  script(src="https://d3js.org/d3.v5.min.js")
  script(src="/socket.io/socket.io.js")
  script(src="/js/outside.js")
  h1 Welcome to Mine Cart!
  //the_modal

  p.lead An application for buying items and services
  hr
    
